$primary-color: white;
$secondary-color: #000;
$text-color-primary: #000;
$text-color-secondary: #fff;
$font-second: 30px;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);
$mobile : 800px;